---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Google Gemini Pro</span>
    <span class="gpt-subtitle">Chat</span>
  </div>
  <p mt-1 op-60>基于谷歌 Gemini Pro API 提供 AI 问答服务。</p>
</header>
